<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New - ConicalEight</title>
    </head>
    <body>
        <form action="{{ url }}" method="post">
            <p>
                <label for="id">Page ID</label>
                <input id="id" type="text" name="id" value="{{ id_ }}">
            </p>
            <p>
                <label for="title">Title</label>
                <input id="title" type="text" name="title" value="{{ title }}">
            </p>
            <p>
                <input id="type-markdown" type="radio" name="type" value="markdown" {% if not raw %}checked{% endif %}>
                <label for="type-markdown">Markdown</label>

                <input id="type-raw" type="radio" name="type" value="raw" {% if raw %}checked{% endif %}>
                <label for="type-raw">RAW</label>
            </p>
            <textarea id="content" name="content" style="display: none;">{{ content }}</textarea>
        </form>
    </body>
</html>