<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top - ConicalEight</title>
</head>
<body>
    <p>
        <a href="{{ url_for('secret_new') }}">New Page</a>
    </p>
    <p>
        Update page
        <form action="{{ url_for('secret_edit') }}" method="get">
            <label for="page_id_update">Page id</label>
            <input id="page_id_update" name="page_id">
            <button type="submit">Edit</button>
        </form>
    </p>
    <p>
        Remove page
        <form action="{{ url_for('secret_remove') }}" method="post">
            <label for="page_id_remove">Page id</label>
            <input id="page_id_remove" name="page_id">
            <button type="submit">Remove</button>
        </form>
    </p>
</body>
</html>